html {
  font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif;
  height: 100%;
}
body {
  background: black;
  background-image: url('images/jindong-h-36186-small.jpg');
  background-size: cover;
  background-position: center;
}

header article {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 21rem;
  position: absolute;
  bottom: 0;
  padding: 2rem;
  padding-bottom: 30vh;
  margin-left: 10vw;
}
header h1 {
  font-size: 2rem;
  font-weight: 200;
  margin: 0;
}
header h1 strong {
  font-weight: 700;
}
header p {
  margin-top: 0.5rem;
}
