<footer>
  <section>
    <h3>
    <a href="https://about.publiccode.net">About us</a>
    </h3>
    <p>Together, we’re growing an ecosystem of open public-purpose software and policy.</p>
    <p>More on <a href="https://about.publiccode.net">about.publiccode.net</a></p>
  </section>
  <section>
    <h3><a href="https://projects.publiccode.net">Our projects</a></h3>
    <p>Open products we're researching or developing to further our mission.</p>
    <p>More on <a href="https://projects.publiccode.net">projects.publiccode.net</a></p>
  </section>
  <section>
    <h3>Contact</h3>
    <ul>
      <li><a href="mailto:info@publiccode.net">info@publiccode.net</a></li>
    </ul>
  </section>
</footer>
