<!DOCTYPE html>

<head>
  <title>{{ page.title }} | The Foundation For Public Code</title>
  <meta meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Muli:200,400,400i,700" rel="stylesheet">
  <meta charset="UTF-8">
  <link rel="icon" href="/brand-assets/avatar-small.png">
  <style>
    html {
      /* Imported Muli weights are 200, 400, 400i and 700 */
      font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif;
      font-size: 16px;
      color: black;
      background-color: #f4f4f4;
    }

    body {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    a,
    a:link {
      color: inherit;
      font-style: italic;
    }

    a[href*="//"]::after {
      content: '🔗';
    }

    a:hover {
      color: #F25757;
    }

    img {
      max-width: 100%;
    }

    main {
      box-sizing: border-box;
      width: 50em;
      max-width: 80vw;

    }

    main article {
      background-color: white;
      padding: 2vw 4vw;
      margin-bottom: 2vw;
    }

    main p,
    main li {
      max-width: 35em;
      line-height: 1.5;
    }

    main h1 {
      font-size: 4em;
    }

    @media screen and (min-width: 960px) {
      main article.home h1 {
        margin: 1.5em 0;
      }

      main article.home img:first-of-type {
        height: 12em;
        margin-top: 4em; 
        float: left;
        padding-right: 2em;
      }
    }

    @media screen and (max-width: 960px) {
      main article.home h1 {
        margin: 0 0 1em 0;
        font-size: 2em;
      }

      main article.home img:first-of-type {
        height: 6em;
      }
    }

    main h2,
    main h3,
    main h4 {
      font-weight: 400;
      clear: both;
    }

    main h2 {
      font-size: 2.5rem;
    }

    main h3 {
      font-size: 2rem;
    }

    main h4 {
      font-size: 1.5rem;
    }

  </style>
</head>

{% include header.liquid %}
<main> {{ content }} </main>
{% include analytics.liquid %}
