---
layout: site
---

<style>
  h1:not(.title) {
    font-weight: normal;
  }
  a.mp-card {
    display: block;
    padding: 1em;
    border: 1px solid #eee;
  }
  a.mp-card:link p {
    display: inline-block;
  }
  .product-status {
    background: #eee;
    padding: 0.5em;
  }
  .product-status>p {
    margin: 0;
  }

  blockquote {
    margin: 0;
    padding: 2rem;
    background-color: whitesmoke;
  }
  blockquote>img {
    float: right;
    width: 8em;
    max-width: 30vw;
    margin: 0 0 1rem 1rem;
  }

  @media (min-width: 800px) {
    .mp-section {
      display: flex;
      flex-direction: row;
      flex-basis: 100%;
    }
    .mp-section:nth-child(odd) {
      flex-direction: row-reverse;
    }
    .mp-section>* {
      padding: 2em;
      align-self: center;
      flex: 1 1 auto;
      width: 50%;
    }
    .mp-section img {
      max-width: 30em;
    }
    .mp-section:not(:first-of-type) p, .mp-section:first-of-type p:first-of-type {
      font-size: 1.15em;
    }
    .mp-section h1, .mp-section h2 {
      border-bottom: none;
    }
    .mp-section h1 {
      font-size: 2.5em;
    }
    .mp-section:not(:first-of-type) {
      max-width: 75em;
    }
    .mp-cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    a.mp-card {
      max-width: 24em;
      align-self: center;
      flex: 1 1 auto;
      width: 50%;
    }
    article.markdown-body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media print {
    .mp-section, .mp-cards {
      display: block;
      margin: 4em 0;
      page-break-inside : avoid;
      clear:both;
    }
    footer {
      page-break-inside : avoid;
    }
    .mp-section img, .mp-cards img {
      width: 50%;
    }
    .mp-section:nth-child(even)>div {
      float: left;
      width: 50%;
    }
    .mp-section:nth-child(odd)>div {
      float: right;
      width: 50%;
    }
  }
</style>

<main>

{{ content }}

</main>