---
layout: default
---

<style media="screen">
  .hero {
    position: relative;
    background: black;
    background-image: url('{{ page.heroImage }}');
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    max-width: 100%;
  }
  .hero article {
    width: 50em;
    max-width: 80vw;
    padding: 4vw 0;
  }
  .hero article p {
    margin-top: 0.5em;
    font-size: 1.25em;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 15em;
    position: absolute;
    bottom: 0;
    padding: 2em;
    padding-bottom: 25vh;
    margin: 0;
  }
</style>

<div class="hero">
  <article>
    <p>{{ page.heroText }}</p>
  </article>
</div>

{{ content }}
